Thumbs.db
.DS_Store
.gradle
build/
classes/
.idea
.idea/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
bin/
.git/
catalina*
logs/
gradle
/gradlew
gradlew*
.metadata/
.recommenders/
*.log
target/
.factorypath
